
/* compose */
.compose {
	float: left;
	display: block;
	margin-top:10px;
	width: 680px;
	margin-left: 20px;
	border: 2px solid white;
}

.firstButtonGroup {
	padding:2px;
}
table.compose-table {
	width:100%;
	border:2px solid white;
	margin-bottom: 10px;
}
table.compose-table td {
	padding-top:2px;
	padding-bottom:2px;
	padding-left:10px;
	padding-right:10px;
}

.left-col {
	width:6em;
}
.right-col {
}

.style-border {
	border:1px solid #dddddd;
}

.textBox{  
	padding: 4px;
	height: 2em;
	width: 100%;
	font: 1em/1.5 Verdana, Sans-Serif;
	border: 1px solid #dddddd;
	margin-top:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
/* to-field textarea */
#to {
	width: 19em;
	padding: 1px;
}

/* subject-field textarea */
#subjectText {

}

/* email body textarea */
#write {
	height: 300px;
	overflow-x:hidden;
}

#goBack {
	margin-top: 28px;
}

#keyboardContainer {

}

/* IFRAME */
#keyboardFrame {
	width:37.6em;
	height:13em;
	overflow:hidden;
	margin-left:8em;
}


.requiresKeyboard {
	width: inherit;

	
	max-height:200px;
	padding:1px;
}
.requiresKeyboard textarea {
	max-height: 180px;
}


/* RECIPIENT SELECTION */
#recipientBoxRow {
	height:8em;
	border-collapse: separate;
	border-spacing: 10px;

	color:white;
	background-color: rgba(221, 221, 221, .95);

	margin:0 auto;

	border-radius: 3px;
	box-shadow:3px 10px 20px #575757;
	z-index:1;
	position:absolute;
}

.recipient-container {
	display: inline-block;
	border:2px solid #dddddd;
	border-radius: 5px;
}

.email-address {
	color:#3F3F3F;
	display:inline;
	padding-left: 10px;
	font-size: .8em;
}

.seePrevRecip {
	border:2px solid #dddddd;
	border-radius: 3px;
	padding:2px;
	width:55px;
	margin:0 auto;
	display:block;

}
#recipientBoxRow img {
	height:30px;
	margin:0 auto;
	display:block;
}

.seeNextRecip {
	border:2px solid #dddddd;
	border-radius: 3px;
	padding:2px;
	width:55px;
	margin:0 auto;
	display:block;
}