 @charset "UTF-8";
/* CSS Document */

.inboxmsg {
	margin-bottom:0px;
	border:2px solid white; /* remove 'shifting' when hilight border is added */
}

/* space in between inbox messages */
.space {
	width:100%;
	height:.5em;
}


.unread {
	font-weight:700;
}

#goBack {
	margin-top: 10px;
}

tr {
	border:1px solid #dddddd;
}

/* remove 'shifting' when hilight border is added */
table {
	padding:2px; 
}

#pageIndicator {
	font-size:.9em;
	display: block;
	float: right;
	padding-right:.5em;
}