* {
    margin: 0;
    padding: 0;
}

body, html {
    font: 50%/1.5 Verdana, Sans-Serif;
    background: #eee;
    margin:0;
    padding:0;
}

#keyboard-container {
    padding:10px;
    width:40em;
    height:13em;
    background-color: #E6E6E6;/
}

/* big group */
#key {
    list-style: none;
    margin: 0 auto;
    text-align: center; 
}

/* row groups */
#key1, #key2, #key3, #key4, #key5 {
    border:2px solid #E6E6E6;
    display:inline-block;
}

#back-key {
    font-weight: 300;
    border-color:#BDBDBD;
}
#key li {
    font-size:1.1em;
}
.selectableKey {
    display:inline-block;
    margin-right:1px;
    padding-left:10px;
    padding-right:10px;
    min-width:1.2em;

    line-height: 2em;
    text-align: center;
    background: #fff;
    border: 2px solid #D4D2D2;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.capslock, .tab, .left-shift {
    font: 50%/1.5;
    width: 3em;
}

.leftCol {
    display:inline-block;
    border:2px solid #E6E6E6;
}

.rightCol {
    display:inline-block;
    border:2px solid #E6E6E6;
}

.selectableKey:last-child {
    margin-right:0px;
}

.selectableKey:first-child {
    margin-left:0px;
}

.uppercase {
    text-transform: uppercase;
}
.on {
    display: none;
}

#key5 .space {
    width:8.5em;
}
.clear {
    clear:both;
}

.keyboard-border {
    /*border:2px solid #E6E6E6;*/
}
