* {
    margin: 0;
    padding: 0;
}

body, html {
    font: 50%/1.5 Verdana, Sans-Serif;
    background: #eee;
    margin:0;
    padding:0;
}



#write {
    width: 671px;
    height: 200px;

    display:block;
    margin: 20px auto;
    padding: 5px;

    font: 1em/1.5 Verdana, Sans-Serif;
    background: #fff;
    border: .1em solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#keyboard-container {
    margin: 0 auto;
    padding:30px;
    width:80%;
    background-color: #E6E6E6;
    border:1px solid #aeaeae;
    border-radius:8px;
}

/* big group */
#key {
    list-style: none;
    margin: 0 auto;
    text-align: center; 
}

/* row groups */
#key1, #key2, #key3, #key4 {
    border:2px solid #E6E6E6;
    display:inline-block;
}
#goBack, #key5 {
    /*clear:left;*/
}
#key li {
    /* the text itself */
    font-size:1.1em;
}
.selectableKey {
    display:inline-block;
    margin-right:1px;
    padding-left:10px;
    padding-right:10px;
    min-width:1.2em;

    line-height: 2em;
    text-align: center;
    background: #fff;
    border: 2px solid #D4D2D2;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.capslock, .tab, .left-shift {
    font: 50%/1.5;
    width: 2.5em;
}

.leftCol {
    display:inline-block;
    border:2px solid #E6E6E6;
}

.rightCol {
    display:inline-block;
    border:2px solid #E6E6E6;
}

.selectableKey:last-child {
    margin-right:0px;
}

.selectableKey:first-child {
    margin-left:0px;
}

.uppercase {
    text-transform: uppercase;
}
.on {
    display: none;
}

#key5 .space {
    width:8.5em;
}
.clear {
    clear:both;
}

.keyboard-border {
    /*border:2px solid #E6E6E6;*/
}
