.left-col {
	width:6em;
}

tr, td {
	border-width:0px !important;
}

#goBack {
	margin-top:10px;
}

.messageBody {
	padding:10px;
	height:75%;
	word-wrap:break-word;
	overflow-y:scroll;
	overflow-x:hidden;
	border:2px solid rgba(0, 0, 0, .1);
	border-radius: 2px;
}

.readEmailMain {
	height:100%;
}

#subject {
	word-wrap:break-word;
}
