body, html {
	/* caregiver pg, small font size */
	font-size:14px !important;
}
#settings {
	float: left;
	display: block;
	margin-top:20px;
	margin-left: 20px;
	height: 490px;
	width: 660px;
}

#plus {
	height:100%;
	width:40%;

	margin: 0 auto;

	font-size:30px;
	border:2px solid white;
	text-align: center;
}

.white {
	color: white;
}

.left-col {
	width:8em;
}

#nameBox {
	width:45%;
}

#addressBox {
	width:45%;
}

input[type="range"] {
	display: float left;
	width: 170px;
}

#contact-notifiction {
	min-width: 200px;
	max-width: 400px;
	min-height: 20px;
	line-height: 20px;
	margin:0 auto;
	padding:4px;
	background-color: rgba(0,0,0,.2);
	border-radius: 3px;
	text-align: center;

	display:none;
}




