<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="uid" content="{{uid}}">
    <meta name="boxname" content="{{boxname}}">
    <title>Compose</title>
 
    <link rel="stylesheet" href="/style/compose_style.css" type="text/css" />
    <link rel="stylesheet" href="/style/main_style.css" type="text/css"/>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" />

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script src="http://www.appelsiini.net/download/jquery.viewport.js"></script>
    <script type="text/javascript" src="/js/compose_script.js"></script>
    <script type="text/javascript" src="/js/script2.js"></script>
    

    

</head>
<body>
<div id="loadingScreen"></div>

<!--MAIN DIV-->

<div id="group">
<div id="pathHeader"></div>

<!--BUTTONS-->
<div class="nav-buttons">
    <div id="group1" class="white-border">
		<div id="group1group1" type="button" class="btn btn-primary btn-block" onclick='followLink("inbox")'>Inbox</div>
		<div id="group1group2" type="button" class="btn btn-primary btn-block" onclick='sendMail(this)'>Send</div>
		<div id="group1group3" type="button" class="btn btn-primary btn-block" onclick='saveDraft(this)'>Save Draft</div>
        <div id="group1group4" type="button" class="btn btn-primary btn-block" onclick="deleteMessage(this)">Delete</div>
    </div>

    <div class="arrows hide" id="group3">
    		<div id="group3group1" class="arrow" onclick="scrollText(-1)">
                <img src="/media/arrow_up.png">
            </div>
    		<div id="group3group2" class="arrow" onclick="scrollText(1)">
                <img src="/media/arrow_down.png">
            </div>
    </div>

    <div id="goBack" class="btn btn-primary btn-block" onclick="goBackClicked()">Back</div>

</div> <!-- end group1 -->




<!--COMPOSE-->
<div class="compose">

<div id="group2" class="white-border">

    <!-- TO field -->
    <table id="group2group1" class="compose-table writeRecipientDiv">
        <tr>
            <td class="left-col">
                <span class="label label-default">To</span>
            </td>
            <td class="middle-col">
                <div id="group2group1group1" class="compose-table requiresKeyboard white-border">
                    <textarea class="textBox" id="toTextArea"></textarea>
                </div>
            </td>
			<td class="right-col">
				<div id="group2group1group2" type="button" class="btn btn-primary btn-block select" onclick="expandToSelection()">Select</div>
			</td>
        </tr>
    </table>

    <!-- select recipients box -->
    <table class="hide"  id="recipientBoxRow">
        <!-- PREVIOUS -->
    	<tr>
    		<td>
                <div id="group2group1group2group1" class="seePrevRecip hide" onclick="cycleRecipients(0)">
                    <img src="/media/arrow_up.png">
                </div>
            </td>
        </tr>
        <!-- RECIPIENTS -->
        <tr>
            <td>
                <div class="recipient-container hide" id="group2group1group2group2" onclick="toggleRecipient(this)">
                    <div class="recipient btn btn-default hide">John Smith</div>
                </div>
                <div class="email-address">johnny9878@gmail.com</div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="recipient-container hide"  id="group2group1group2group3" onclick="toggleRecipient(this)">
                    <div class="recipient btn btn-default hide">Sally Fields</div>
                </div>
                <div class="email-address">sally.fields@gmail.com</div>
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="recipient-container hide" id="group2group1group2group4" onclick="toggleRecipient(this)">
                    <div class="recipient btn btn-default hide" >Joe Brown</div>
                </div>
                <div class="email-address">joe_brown@gmail.com</div>
            </td>
        </tr>
        
        <tr>
            <td>
                <div class="recipient-container hide" id="group2group1group2group5" onclick="toggleRecipient(this)">
                    <div class="recipient btn btn-default hide">owen_thomas@gmail.com</div>
                </div>
                <div class="email-address"></div>
            </td>
        </tr>
        
        <!-- NEXT -->
        <tr>
            <td>
                <div id="group2group1group2group6" class="seeNextRecip hide" onclick="cycleRecipients(1)">
                    <img src="/media/arrow_down.png">
                </div>
    		</td>
    	</tr>
    </table>

    <!-- SUBJECT -->
    <table class="compose-table requiresKeyboard writeSubjectDiv" id="group2group2">
        <tr>
            <td class="left-col"><span class="label label-default">Subject</span></td>
            <td><textarea class="textBox" id="subjectText"></textarea></td>
        </tr>
    </table>


<!-- WRITE MESSAGE BODY-->
<div id="group2group3" class="requiresKeyboard writeMessageDiv white-border">
    <textarea id="write" class="textBox scrollableText" rows="10" cols="20"></textarea>
</div>

</div> <!-- end group2 -->
</div> <!-- end compose -->

<!-- KEYBOARD -->
<div id="hideKeyboard" class="hide" onclick=hideKeyboard()></div>
<iframe id="keyboardFrame" class="hide" sandbox="allow-same-origin allow-scripts allow-forms" scrolling="no" frameborder="0"></iframe>



</div> <!-- end group -->

</body>
</html>
