<!DOCTYPE html>
<head>
	<meta name="code" content="{{code}}">
</head>
<body>
	{{code}}
</body>

<script>
	function make_request(url, params, callback) {
    		var request = new XMLHttpRequest();
    		request.open('POST', url, true);
    		console.log("Making a http request to: " + url);
    		request.addEventListener('load', callback, false);  
    		request.send(params);
	}

	function meta(name) {
    		var tag = document.querySelector('meta[name=' + name + ']');
    		if (tag != null)
        		return tag.content;
    		return '';
	}

	function get_tokens() {
    		var url = 'https://accounts.google.com/o/oauth2/auth';

		var params = [];
		params.push({
			code: meta('code'),
			client_id: '742880991128.apps.googleusercontent.com',
			client_secret: 'pHHtB8Hp_0l1C4buGtLB6CCU',
			redirect_uri: 'http%3A%2F%2Fec2-54-86-113-65.compute-1.amazonaws.com%2Foauth2callback',
			grant_type: 'authorization_code'
		});
		

    		make_request(url, params, function(e) {
        		if (this.status == 200) {       
            			var content = this.responseText;
             			alert(content);
            			//var data = JSON.parse(content);
        		} else {
            			alert("Feed Request was invalid.");
        		}               
    		});  
	}

	window.addEventListener('load', function(){
	//	get_tokens();
	});

</script>
