<!doctype html>
<html>
<head>
    <meta name="boxname" content="{{boxname}}">
    <meta charset="UTF-8">
    <title>Drafts</title>
<!-- 
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="style/inbox_style.css" type="text/css" />
    <link rel="stylesheet" href="style/main_style.css" type="text/css" />

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript" src="js/script2.js"></script>
 -->
 
     <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/style/inbox_style.css" type="text/css" />
    <link rel="stylesheet" href="/style/main_style.css" type="text/css" />

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/script2.js"></script>


</head>
<body>
<!-- MAIN DIV -->
<div id="group">
<div id="pathHeader">Drafts</div>

<!-- LEFT NAV -->
<div class="nav-buttons">
	<div id="group1" class="white-border">
		<div id="group1group1" type="button" class="btn btn-primary btn-block" onclick=followLink("compose")>Compose</div>
		<div id="group1group2" type="button" class="btn btn-primary btn-block" onclick=followLink("inbox")>Inbox</div>

    </div>
    
    <div id="goBack" type="button" class="back-inbox btn btn-primary btn-block">Back</div>


    <!-- arrows for scrolling -->
    <div class="arrows" id="group3">
        <div id="group3group1" class="arrow" onclick="scrollUp()">
            <img src="/media/arrow_up.png">
        </div>
        <div id="group3group2" class="arrow" onclick="scrollDown()">
            <img src="/media/arrow_down.png">
        </div>
    </div>

</div>


<!-- INBOX -->
<div id="wrapper">
<div class="white-border inbox" id="group2">

<div id="group2group1" class="white-border"> <!-- start first half -->
    <!-- message 1 -->
    <div class="inboxmsg" id="group2group1group1" onclick="editEmail(this)">
        
        <table class="table">
        <tbody>
            <tr>
                <td class="sender"></td>
                <td class="subject"></td>
                <td class="timestamp faded"></td>
            </tr>
            <tr>
                <td class="message faded" colspan="3" align="center"></td>
            </tr>
        </tbody>
        </table>
    
    </div>
    <div class="space"></div>
    <!-- message 2 -->
    <div class="inboxmsg" id="group2group1group2"  onclick="editEmail(this)">
    
        <table class="table">
        <tbody>
            <tr>
                <td class="sender"></td>
                <td class="subject"></td>
                <td class="timestamp faded"></td>
            </tr>
            <tr>
                <td class="message faded" colspan="3" align="center"></td>
            </tr>
        </tbody>
        </table>
    
    </div>
    <div class="space"></div>
    <!-- message 3 -->
    <div class="inboxmsg" id="group2group1group3"  onclick="editEmail(this)">
    
        <table class="table">
        <tbody>
            <tr>
                <td class="sender"></td>
                <td class="subject"></td>
                <td class="timestamp faded"></td>
            </tr>
            <tr>
                <td class="message faded" colspan="3" align="center"></td>
            </tr>
        </tbody>
        </table>
    
    </div>


</div> <!-- end first half -->

<div class="space"></div>


<div id="group2group2" class="white-border"> <!-- start second half -->
   
    <!-- message 4 -->
    <div class="inboxmsg" id="group2group2group1"  onclick="editEmail(this)">
    
        <table class="table">
        <tbody>
            <tr>
                <td class="sender"></td>
                <td class="subject"></td>
                <td class="timestamp faded"></td>
            </tr>
            <tr>
                <td class="message faded" colspan="3" align="center"></td>
            </tr>
        </tbody>
        </table>
    
    </div>   
    <div class="space"></div>
    <!-- message 5 -->
    <div class="inboxmsg" id="group2group2group2"  onclick="editEmail(this)">
    
        <table class="table">
        <tbody>
            <tr>
                <td class="sender"></td>
                <td class="subject"></td>
                <td class="timestamp faded"></td>
            </tr>
            <tr>
                <td class="message faded" colspan="3" align="center"></td>
            </tr>
        </tbody>
        </table>
    
    </div> 
    <div class="space"></div>
    <!-- message 6 -->
    <div class="inboxmsg" id="group2group2group3"  onclick="editEmail(this)">
    
        <table class="table">
        <tbody>
            <tr>
                <td class="sender"></td>
                <td class="subject"></td>
                <td class="timestamp faded"></td>
            </tr>
            <tr>
                <td class="message faded" colspan="3" align="center"></td>
            </tr>
        </tbody>
        </table>
    
    </div> 
</div> <!-- end second half -->    
  
</div> <!-- end whole inbox -->



</div> <!-- end of wrapper -->

</div> <!-- end of mainDiv-->

<script>
// onload, hide empty tables
window.addEventListener('load', function(){

    hideEmptyMessages(function() {
        hideEmptyGroups();
    });
}); 

function hideEmptyMessages(callback) {
    // for each inbox msg
    $('.inboxmsg').each(function() {

        var containstxt = false;
        if($(this).find('.sender').text().trim()!="") {
            containstxt = true;
        }
        if($(this).find('.subject').text().trim()!="") {
            containstxt = true;
        }
        if($(this).find('.timestamp').text().trim()!="") {
            containstxt = true;
        }
        if($(this).find('.message').text().trim()!="") {
            containstxt = true;
        }
        if(!containstxt) {
            $(this).addClass('hide');
        }
    }).promise().done(function() {
        callback();
    });
}


function hideEmptyGroups() {
    //make a list of all group IDs
    var allGroups = [];
    // for everything starting with 'group'
    $("[id^='group']").each(function(index, obj) {
        allGroups.push($(this).attr('id'));
    });
    var toHide = [];
    for(var id in allGroups) {
        if (childrenAreHidden(allGroups[id], allGroups)) {
            toHide.push(allGroups[id]);
            //console.log("hiding "+allGroups[id]);
        }

    }

    for(var i in toHide) {
        $('#'+toHide[i]).addClass('hide');
    }
}

function childrenAreHidden(item, list) {
    var childrenAreHidden = true;
    var numChilds = 0;
    for(var id in list) {
        // id starts with item
        if(list[id] != item && list[id].substring(0, item.length) === item) {
            numChilds++;
            if(!$('#'+list[id]).hasClass('hide')) {
                childrenAreHidden = false;
            }
            
        }
    }
    if(numChilds===0) {
        childrenAreHidden = false;
    }
    //console.log("CHILDREN ARE HIDDEN? "+childrenAreHidden+"  "+item);
    return childrenAreHidden;
}
</script>
</body>
</html>
