<!doctype html>
<html>
<head>
    <meta name="boxname" content="{{boxname}}">
    <meta charset="UTF-8">
    <title>{{boxname}}</title>
<!-- 
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="style/inbox_style.css" type="text/css" />
    <link rel="stylesheet" href="style/main_style.css" type="text/css" />

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript" src="js/script2.js"></script>
    <script type="text/javascript" src="js/inbox_script.js"></script>
 -->
 
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/style/inbox_style.css" type="text/css" />
    <link rel="stylesheet" href="/style/main_style.css" type="text/css" />

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/script2.js"></script>
    <script type="text/javascript" src="/js/inbox_script.js"></script>


</head>
<body>
<!-- MAIN DIV -->
<div id="group">
<div id="pathHeader">Drafts
    <a href="/templates/settings.html" type="button" onclick="followLink('settings')"><img src="/media/settings.png"/></a>
</div>


<!-- LEFT NAV -->
<div class="nav-buttons">
    <div id="group1" class="white-border">
        <div id="group1group1" type="button" class="btn btn-primary btn-block" onclick="followLink('compose')">Compose</div>
        <div id="group1group2" type="button" class="btn btn-primary btn-block" onclick="followLink('inbox')">Inbox</div>
    </div>
    
    <div id="goBack" type="button" class="btn btn-primary btn-block">Back</div>


    <!-- arrows for scrolling -->
    <div class="arrows" id="group3">
        <div id="group3group1" class="arrow" onclick="scrollUp()">
            <img src="/media/arrow_up.png">
        </div>
        <div id="group3group2" class="arrow" onclick="scrollDown()">
            <img src="/media/arrow_down.png">
        </div>
    </div>

</div>


<!-- INBOX -->
<div id="wrapper">
<div class="white-border inbox" id="group2">

<div id="group2group1" class="white-border"> <!-- start first half -->
<!--     message 1     -->
    <div class="inboxmsg unread" id="group2group1group1" onclick="readEmail(this)">
        
        <table class="table">
        <tbody>
            <tr>
                <td class="sender"></td>
                <td class="subject"></td>
                <td class="timestamp faded"></td>
            </tr>
            <tr>
                <td class="message faded" colspan="3" align="center"></td>
            </tr>
        </tbody>
        </table>
    
    </div>
    <div class="space"></div>
<!--     message 2     -->
    <div class="inboxmsg unread" id="group2group1group2"  onclick="readEmail(this)">
    
        <table class="table">
        <tbody>
            <tr>
                <td class="sender"></td>
                <td class="subject"></td>
                <td class="timestamp faded"></td>
            </tr>
            <tr>
                <td class="message faded" colspan="3" align="center"></td>
            </tr>
        </tbody>
        </table>
    
    </div>
    <div class="space"></div>
<!--     message 3     -->
    <div class="inboxmsg" id="group2group1group3"  onclick="readEmail(this)">
    
        <table class="table">
        <tbody>
            <tr>
                <td class="sender"></td>
                <td class="subject"></td>
                <td class="timestamp faded"></td>
            </tr>
            <tr>
                <td class="message faded" colspan="3" align="center"></td>
            </tr>
        </tbody>
        </table>
    
    </div>



</div> <!-- end first half -->

<div class="space"></div>


<div id="group2group2" class="white-border"> <!-- start second half -->
   
<!--     message 4     -->
    <div class="inboxmsg" id="group2group2group1"  onclick="readEmail(this)">
    
        <table class="table">
        <tbody>
            <tr>
                <td class="sender"></td>
                <td class="subject"></td>
                <td class="timestamp faded"></td>
            </tr>
            <tr>
            <td class="message faded" colspan="3" align="center"></td>
            </tr>
        </tbody>
        </table>
    
    </div>   
    <div class="space"></div>
<!--     message 5     -->
    <div class="inboxmsg" id="group2group2group2"  onclick="readEmail(this)">
    
        <table class="table">
        <tbody>
            <tr>
                <td class="sender"></td>
                <td class="subject"></td>
                <td class="timestamp faded"></td>
            </tr>
            <tr>
                <td class="message faded" colspan="3" align="center"></td>
            </tr>
        </tbody>
        </table>
    
    </div> 
    <div class="space"></div>
<!--     message 6     -->
    <div class="inboxmsg" id="group2group2group3"  onclick="readEmail(this)">
    
        <table class="table">
        <tbody>
            <tr>
                <td class="sender"></td>
                <td class="subject"></td>
                <td class="timestamp faded"></td>
            </tr>
            <tr>
                <td class="message faded" colspan="3" align="center"></td>
            </tr>
        </tbody>
        </table>
    
    </div> 

</div> <!-- end second half -->    
  
</div> <!-- end whole inbox -->
<div id="pageIndicator">page 1 of 2</div>


</div> <!-- end of wrapper -->

</div> <!-- end of mainDiv-->

</body>
</html>
