<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>inbox</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="inbox_style.css" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript" src="ajaxScript.js"></script>


</head>
<body>
<!-- MAIN DIV -->
<div id="group">


<!-- LEFT NAV -->
<div class="nav-buttons">
	<div id="group1">
		<div id="group1group1" type="button" class="btn btn-primary btn-block">Compose</div>
		<div id="group1group2" type="button" class="btn btn-primary btn-block">Drafts</div>
    </div>
    
    <div id="goBack" type="button" class="back-inbox btn btn-primary btn-block">Back</div>

</div>


<!-- INBOX -->
<div id="wrapper">
<div class="inbox" id="group2">

<div id="group2group1" > <!-- start first half -->
    <!-- message 1 -->
    <div class="inboxmsg unread" id="group2group1group1" onclick="readEmail(this)">
        <ul id = "inbox"></ul>
        
        <table class="table">
        <tbody>
            <tr>
                <td class="sender">Long, Molly</td>
                <td class="subject">[Ugrad] Fwd: 1000 in Just Two Minutes? Apply for Brown EP's Pitch Day
                </td>
                <td class="timestamp faded">Mar 30</td>
            </tr>
            <tr>
                <td class="message faded" colspan="3" align="center">
                    Want to make $1000 in just 2 minutes? APPLY to compete in Brown Entrepreneurship Program's annual Pitch Day Competition! Anyone with with a venture idea is strongly encouraged to apply. 
                    
                    What is more, at Pitch Day you will have the chance to meet and network with entrepreneurs, investors and other students from Brown and RISD interested in entrepreneurship. We have exciting speakers lined up, as well!
                    
                    Apply by: Friday,  April 11th
                    Hear from us by: April 13th
                    
                    Please apply here.
                </td>
            </tr>
        </tbody>
        </table>
    
    </div>
    
    <!-- message 2 -->
    <div class="inboxmsg unread" id="group2group1group2"  onclick="readEmail(this)">
    
        <table class="table">
        <tbody>
            <tr>
                <td class="sender">Indy Prentice</td>
                <td class="subject">[Ugrad] Apply to TA by TONIGHT!
                </td>
                <td class="timestamp faded">Mar 30</td>
            </tr>
            <tr>
                <td class="message faded" colspan="3" align="center">
                Hi everyone,
                Today is the last day to apply to TA: applications close TONIGHT at midnight! You can apply here.
                If you have any last-minute questions, feel free to contact us at mta@cs.brown.edu, or the Head TAs/Professor for the course you're considering.
                Best,
                The MTAs
                </td>
            </tr>
        </tbody>
        </table>
    
    </div>

    <!-- message 3 -->
    <div class="inboxmsg" id="group2group1group3"  onclick="readEmail(this)">
    
        <table class="table">
        <tbody>
            <tr>
                <td class="sender">Clarke, Lauren</td>
                <td class="subject">[Ugrad] IPP: Computer Science Internship</td>
                <td class="timestamp faded">Mar 30</td>
            </tr>
            <tr>
                <td class="message faded" colspan="3" align="center"> Hi All- FYI on an internship I just learned about.  If you're interested in applying, please send your resume to tyler@goingout.com.
Early stage internet start-up seeking technical interns
GoingOut is developing a software application for restaurants and bars and a user interface for the general public. GoingOut.com (and the mobile platform) gives venues the resources hey need to attract more customers, and gives the public what it needs to make their 'going-out' decisions. We aim to provide the most accurate, updated, and detailed dining and nightlife information on the web. The company launched in October 2012 in Rhode Island and is expanding into Boston in early 2013. 
Technical Details:

- LAMP stack using the Yii framework (MVC) with a MySQL primary data store
- primary javascript abstraction layer provided by jQuery
- mercurial DVCS for version control
- mobile application development experience is a plus
- Systems experience on Debian/Ubuntu is a plus
- Linux/Apple friendly for development environments
- prior web application development experience is expected

Whether you prefer writing/modifying shell scripts, setting up hardware, and configuring servers or you would rather spend your time writing javascript that makes json requests to a webservice, building said webservice, or writing iPhone (and android) apps that utilize that service, we have plenty of opportunities for you do all of those things and more. Get in on the ground floor at a fast and exciting company, learn what it's like to work like it's your company, and get much more hands on technical and business experience as you work alongside the co-founders. 

Build up valuable experience at a company where you can help define your work; and the opportunities are endless.

Tyler Rowley
Co-Founder
GoingOut.com, Inc.
401.290.7201 | GoingOut.com
                </td>
            </tr>
        </tbody>
        </table>
    
    </div>


</div> <!-- end first half -->
<div id="group2group2"> <!-- start second half -->
   
    <!-- message 4 -->
    <div class="inboxmsg" id="group2group2group1"  onclick="readEmail(this)">
    
        <table class="table">
        <tbody>
            <tr>
                <td class="sender">welcome@ifttt.com</td>
                <td class="subject">Discover great Technology Recipes on IFTTT</td>
                <td class="timestamp faded">Mar 30</td>
            </tr>
            <tr>
            <td class="message faded" colspan="3" align="center">
 				Hi mcashton, Discover great Technology Recipes on IFTTT and put the internet to work for you.</td>
            </tr>
        </tbody>
        </table>
    
    </div>   
    
    <!-- message 5 -->
    <div class="inboxmsg" id="group2group2group2"  onclick="readEmail(this)">
    
        <table class="table">
        <tbody>
            <tr>
                <td class="sender">zipcar@drive.zipcar.com</td>
                <td class="subject">Want to split $80 in free driving with a pal?</td>
                <td class="timestamp faded">Mar 30</td>
            </tr>
            <tr>
                <td class="message faded" colspan="3" align="center">Usually, when you refer a friend you split $50 in free driving. But now until April 18, you get to share $80 in free driving when you tell your pals about Zipcar and they join. That’s an extra $30 to buy a pair of BFF necklaces.  You guys are adorable.</td>
            </tr>
        </tbody>
        </table>
    
    </div> 
    
    <!-- message 6 -->
    <div class="inboxmsg" id="group2group2group3"  onclick="readEmail(this)">
    
        <table class="table">
        <tbody>
            <tr>
                <td class="sender">Name.com Support</td>
                <td class="subject">One of your New Domains is now available</td>
                <td class="timestamp faded">Mar 30</td>
            </tr>
            <tr>
                <td class="message faded" colspan="3" align="center">You’ve signed up to receive information about New Domain extensions. Here’s an update on some of the extensions you’re watching.</td>
            </tr>
        </tbody>
        </table>
    
    </div> 
</div> <!-- end second half -->    
  
</div> <!-- end whole inbox -->

<div class="arrows" id="group3">
	<div id="group3group1" class="arrow"><span class="glyphicon glyphicon-chevron-down"></span></div>
	<div id="group3group2" class="arrow"><span class="glyphicon glyphicon-chevron-up"></span></div>
</div>

</div> <!-- end of wrapper -->

</div> <!-- end of mainDiv-->


</body>
</html>
