<link href='http://fonts.googleapis.com/css?family=Oxygen:400,300' rel='stylesheet' type='text/css'>
<style>
	body {
		width: 100%;
		text-align: center;
		background-color: #FFFFFF;
		margin: 0;
//		vertical-align: middle;
	}
	#title {
		color: #428BCA;
		display: inline-block;
		width: 100%;
		text-align: center;
		font-size: 128px;
		font-family: 'Oxygen', sans-serif;
		font-weight: 300;
	}
	a {		
                color: #428BCA;
                display: block;
                width: 100%;
                text-align: center;
                font-size: 128px;
                font-family: 'Oxygen', sans-serif;
                font-size: 128px;
                font-family: 'Oxygen', sans-serif;
                font-weight: 300;
	}
	a:link, a:visited, a:hover, a:active {
		text-decoration: none;
	}
	.selection {
		//width: 100%;
		//height: 100%;
		//vertical-align: middle;
		//margin: 0 auto;
		display: inline-block;
		//border-radius:5px;
		font-size:50px;
		//text-align:center;

    		width: 100%;
    		height: 100%;
//    		background-color: red;
    		position: absolute;
    		top:0;
    		bottom: 0;
    		left: 0;
    		right: 0;
    		margin: auto;
	}

</style>

<div id="div1" class="selection"><a href="https://accounts.google.com/o/oauth2/auth?scope=email%20profile%20https%3A%2F%2Fmail.google.com%2F&state=%2Fprofile&redirect_uri=http%3A%2F%2Fec2-54-86-113-65.compute-1.amazonaws.com%2Foauth2callback&response_type=code&client_id=742880991128.apps.googleusercontent.com&approval_prompt=force&access_type=offline">Login</a>
</div>
