<!doctype html>
<html>
<head>
	<meta name="uid" content="{{uid}}">
    <meta charset="UTF-8">
    <title>Inbox</title>
    <link rel="stylesheet" href="/style/read_style.css" type="text/css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/style/main_style.css" type="text/css" />
    
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/script2.js"></script>
    <script type="text/javascript" src="/js/read_script.js"></script>


</head>
<body>

<!-- MAIN DIV -->
<div id="group">
<div id="pathHeader"></div>

<!-- LEFT NAV -->
<div class="nav-buttons">
	<div id="group1" class="white-border">
        <div id="group1group1" type="button" class="btn btn-primary btn-block" onclick='reply()'>Reply</div>
        <!--
		<div id="group1group2" type="button" class="btn btn-primary btn-block" onclick=followLink('compose.html')>Compose</div>
        -->
		<div id="group1group2" type="button" class="btn btn-primary btn-block" onclick=followLink('inbox')>Inbox</div>
		<div id="group1group3" type="button" class="btn btn-primary btn-block" onclick=followLink('drafts')>Drafts</div>
        <div id="group1group4" type="button" class="btn btn-primary btn-block" onclick=deleteMessage(this)>Delete</div>

    </div>
    

    <!-- arrows for scrolling -->
    <div class="arrows hide" id="group2">
        <div id="group2group1" class="arrow" onclick="scrollText(-1)">
            <img src="../media/arrow_up.png">
        </div>
        <div id="group2group2" class="arrow" onclick="scrollText(1)">
            <img src="../media/arrow_down.png">
        </div>
    </div>

    
    <div id="goBack" type="button" class="back-inbox btn btn-primary btn-block">Back</div>

</div>


<!-- EMAIL  -->

<div id="wrapper">

<div  class="readEmailMain white-border">

<div id="message-info">

<table class="table">
<tbody>

    <tr>
    	<td class="left-col"><span class="label label-default">From</span></td>
        <td id="from"></td>
    </tr>

    <tr>
        <td class="left-col"><span class="label label-default">To</span></td>
        <td id="to"></td>
    </tr>

    <tr>
        <td class="left-col"><span class="label label-default">Subject</span></td>
        <td id="subject"></td>
    </tr>
</tbody>
</table>

</div>

<div class="messageBody scrollableText"></div>

</div> <!-- /group2 -->

</div> <!-- /wrapper -->



</body>
</html>