<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
<!-- 
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="style/main_style.css" type="text/css"/>
	<link rel="stylesheet" href="style/settings_style.css" type="text/css"/>
    
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript" src="js/script2.js"></script>
 -->
 
 	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/style/main_style.css" type="text/css"/>
	<link rel="stylesheet" href="/style/settings_style.css" type="text/css"/>
    
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/script2.js"></script>
    
</head>
<body>

<!--BUTTONS-->
<div class="nav-buttons">
	<div class="btn btn-primary btn-block" onclick='followLink("inbox")'>Inbox</div>
    <div class="btn btn-primary btn-block">Back</div>
</div>




<!--SETTINGS-->
<div id="settings">
	<div class="white-border">
	    <table class="table">
	        <!-- ADD CONTACT field -->
	        <tr>
	            <td class="left-col"><span class="label label-default">Add Contact</span></td>
	            <td class="right-col" id="to">
					<textarea>First Last</textarea>
					<textarea><firstlast@example.com></textarea>
					<div class="btn btn-primary btn-block white" id="plus"><span class="glyphicon glyphicon-plus"></span></div>
				</td>
	        </tr>
    		<!-- FONT SIZE field -->
	    	<tr>
				<td class="left-col"><span class="label label-default">Font Size</span></td>
	            <td class="right-col">
					<input type="range" name="fontsize" min="12" max="24" value="12" onchange="showFontValue(this.value)">
					<span id="size">12</span>
				</td>
			</tr>
			<!-- CYCLE TIME field -->
	    	<tr>
				<td class="left-col"><span class="label label-default">Cycle Time</span></td>
	            <td class="right-col">
					<input type="range" name="fontsize" min="1" max="30" value="1" onchange="showTimeValue(this.value)">
					<span id="time">1</span> seconds
				</td>
			</tr>
			
	    </table>
	</div> 
</div> 

</body>
</html>
