<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TESTER</title>

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../style/inbox_style.css" type="text/css" />
    <link rel="stylesheet" href="../style/main_style.css" type="text/css" />

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
    <script type="text/javascript" src="../js/script2.js"></script>
    <script type="text/javascript" src="../js/inbox_script.js"></script>

<style>
iframe {
    width:1000px;
    height:500px;
}
</style>

</head>
<body>
<!-- MAIN DIV -->
<h1> YO </h1>
<iframe id="keyboardFrame" src="keyboard.html"></iframe>
<script> 

document.getElementById('keyboardFrame').onload = function() {
    $('#keyboardFrame').focus();
}


</script>
</body>
</html>